// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

// html5imageupload
@import 'html5imageupload.min';

/** bootstrap dismissable alert styles */

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}


/** begin Dropzone */

$img-path: "../images" !default;

// url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');

.admin-form {
    .dropzone {
        border: 1px solid #DDD;
        padding: 0;
        height: 100%;
        min-height: 60px;
        min-width: 60px;
        box-sizing: border-box;
        margin-left: 0;
     //   background-image: url('#{$img-path}/dropzone_camera.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        .btn {
            &.btn-danger {
                color: #FFF;
                background-color: #e9573f;
                border-color: #e9573f;
            }
            &.btn-default {
                color: #666;
                background-color: #f0f0f0;
                border-color: rgba(0,0,0,0.1);
            }
            &.btn-info {
                color: #FFF;
                background-color: #3bafda;
                border-color: #3bafda;
            }
            &.btn-success {
                color: #FFF;
                background-color: #70ca63;
                border-color: #70ca63;
            }
            &.btn-warning {
                color: #FFF;
                background-color: #f6bb42;
                border-color: #f6bb42;
            }
        }
        &.state-error {
     //        background-image: url('#{$img-path}/dropzone_camera_red.png');
        }
        .dz-default {
            &.dz-message {
                cursor: pointer;
                background-image: none;
                width: 100%;
                top: 23%;
                text-align: center;
                left: 0;
                height: 89%;
                margin: 20px 0;

                span.main-text,
                span.main-text b,
                span.sub-text {
                    cursor: pointer;
                    font-size: 13px;
                    font-weight: normal;
                    color: #939393;
                }
                i.fa {
                    cursor: pointer;
                    color: #4A89DC;
                    font-size: 100px;
                    display: block;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }
        }
        a.dz-remove,
        .dropzone-previews a.dz-remove {
            margin-top: 5px;
            border-radius: 0;
        }
        .dz-preview {
            background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
            position: relative;
            display: inline-block;
            margin: 8px;
            padding: 6px;
            vertical-align: top;
            border: 1px solid #DBD8D8;
            height: 200px;

            .dz-image {
                border-radius: 5px;
                overflow: hidden;
                width: 100%;
                position: relative;
                display: block;
                z-index: 10;
                margin: 0;
                height: 155px;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            .dz-remove {
                margin: 5px auto 2px;
                width: 100%;
                text-decoration: none;
                color: #666;
                background-image: linear-gradient(to bottom, #FAFAFA, #EEE);
                border-radius: 2px;
                border: 1px solid #EEE;
                display: block;
                padding: 4px 5px;
                text-align: center;
            }
        }
        &::after {
            content: "Click here to upload an image or drag it and drop it here";
            font-size:12px;
            color: #B0B0B0;
            position: absolute;
            bottom: 10px;
            left: 5px;
            width: 96%;
            text-align: center;
            z-index: 0;
        }

        /** Sizes and dimensions: */

        /** candy bar  (500 x 500) */
        &.dropzone-250x250 {
            width: 250px;
            height: 250px;
        }
    }
}
/** END dropzone */

.list-table {
    margin-top: 20px;
    margin-bottom: 30px;
    th,td {
        text-align: center;
        vertical-align: middle;
    }
    .td-image {
        width: 110px;

        img {
            width: 100%;
            height: auto;
        }
    }
    .td-rating {
        width: 120px;
    }

    .td-actions {
        width: 100px;
        text-align: center;
    }
}


